.login{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #131921;
}
.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}
.login__logo{
    display: block;
    margin: 20px auto;
    margin-top: 15px;
    width: 130px;
}
.login__form{
    /* margin-top: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    border: 1px solid lightgrey;
   padding: 20px;
}
.login h2{
    margin-left: 15px;
    color: rgb(81, 81, 146);
}
.login p{
    margin-left: 15px;
    font-weight: bold;
}
.login__inp{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.login__labels{
    font-weight: bold;
}
.login__inputs{
    width: 80%;
    height: 15px;
    border-radius: 3px;
    padding: 5px 10px;
}
.login__btn{
    width: 82%;
    height: 30px;
    background-color: #FFD814;
    color: black;
    border-radius: 10px;
    margin:10px 8px;
    cursor: pointer;
}
.login__btn:hover{
    background-color: rgb(216, 216, 36);
}
.span__signup{
    text-decoration: none;
}

@media (max-width: 768px){
    .login__form{
        width: 450px;
    }
}
@media (max-width: 550px){
    .login__form{
        width: 76%;
    }
    .login__container{
        width: 100%;
    }
}